.goalListContainer{
    font-family: "Josefin Sans", sans-serif;
}


.goalList li
{
    list-style: none;
    padding: 2em;    
    border-radius: 10px;
    background-color: rgb(167, 209, 244);
    text-align: center;
    margin:1em 6em;
   
}
.goalList{

    margin: 0;
    padding: 2em 2em;

}
